body{
    display: flex;
    background: #000;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}
.container{
    width: 87px;
    margin: 25px 0 0 0 ;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 600px;
    flex-wrap: wrap;

}
.square{
    width: 20px;
    height: 20px;
    background: #1d1d1d;
    margin: 2px;
    transition: 2s ease;
}
.square:hover{
    transition-duration: 0s;
}
